:root {
  --color-primary: #e89a41;
  --color-secondary: #cb673d;
  --color-Tertiary: #99273a;
  --color-Quaternary: #54354a;
  --bg-primary: #f0f2f1;
  --box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Open Sans Condensed", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#slide-container {
  display: flex;
  box-shadow: var(--box-shadow);
  width: 1280px;
  height: 720px;
}
/* Left content of slide */
#slide-container #slide-left {
  width: 25%;
  height: 100%;
  background-color: var(--bg-primary);
  position: relative;
}

#slide-container #slide-left .slide-left-decoration {
  background-color: var(--color-primary);
  width: 100%;
  height: 2rem;
}

#slide-container #slide-left .slide-left-content {
  padding: 2rem;
}

#slide-container #slide-left .slide-left-content img {
  width: 150px;
  margin-bottom: 3rem;
}

#slide-container #slide-left .slide-left-content h1 {
  margin-bottom: 1rem;
}

#slide-container #slide-left .slide-left-footer {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  left: 0;
  transform: translateX(20%);
}
#slide-container #slide-left .slide-left-footer .footer-block {
  background-color: var(--color-primary);
  width: 50px;
  height: 50px;
  margin-right: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* Graphs in slide */
#slide-container #slide-content {
  width: 75%;
  height: 100%;
}
